body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dangky_block{
    background-color: white;
    width: 300px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title_dky{
    margin-bottom: 20px;
    text-align: center;
}

.form_dky{
    padding-bottom: 20px;
}

.form_dky label{
    display: block;
    font-size: 17px;
    padding-bottom: 5px;
    text-align: left;
}

.form_dky input{
    text-align: left;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}

.form_dky button{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    text-align: center;
    border-left: 50px;
}